$font-family: 'Neue Frutiger World', 'Verdana', 'Yakumono', 'body',
  'Hiragino Sans', sans-serif;

$master-font-size-for-print: 10px;

// A5
$page-width: 148mm; // 幅
$page-height: 210mm; // 高さ
$page-bleed: 3mm; // 塗り足し（ドブ）。写真や図版などを紙面ギリギリに配置したレイアウトで断裁時に白がでないようにするための余白

// Page
$page-margin-top: 20mm; // 天
$page-margin-bottom: 25mm; // 地
$page-margin-outer: 16mm; // 小口（本の綴じていないほうのマージン）
$page-margin-inner: 18mm; // のど（本の綴じているほうのマージン）
