/*
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
/* @import '_variables'; */
/* @import '_toc'; */
/* ... */

/* and more... 🖋 */

section#colophon {
  position: relative;
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}
