/**
フォント設定用の CSS パッケージ

フォントがビルド環境に依存しないように、文章全体のフォントを Noto San に設定します。

@description
個別箇所のフォントを変更したい場合は、その特定タグに対して設定してください

```css
.foo {
  font-family: "Your Font", serif;
  font-weight: 500;
}
```

```md
<span class="foo">フォントを適用したい文章</span>
```

@description
theme オプションで CSS ファイルを指定する方法は、必要な外部ファイルの場所を解決できないです。
そのため、フォントファイルを含めたローカルの package として、定義します。

新しくフォントファイルをプロジェクト内に追加する場合は、
この package で定義して、必要箇所で font-family を指定してください。

なお、Webフォントの場合は絶対パスで定義されるため、ここで定義しなくても動作します。

```css
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

bar {
  font-family: "Roboto", sans-serif;
}
```

※ Google Fonts は商用や印刷物に利用できます
https://developers.google.com/fonts/faq?hl=ja

※ VariableFont はファイル１つで済むが、PDF に埋め込まれない

*/

/* フォントの読み込み（読み込み数が多いので別ファイルで定義しました） */
@import url(./noto-sans-jp.css); 
@import url(./noto-sans-mono.css);

/* フォントを変更する */
:root {
    /* 本文のフォント */
    --vs-font-family: 'Noto Sans JP', sans-serif;

    /* 等幅フォント（コードブロックで利用される）のフォント */
    --vs--monospace-font-family: 'Noto Sans Mono', 'Noto Sans JP', monospace;
}
