/*
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
@import 'includes/_variables';
@import 'includes/_lib-prism-okaidia';
@import 'includes/_lib-override';
@import 'includes/_base';
@import 'includes/_counter';
@import 'includes/_media';
@import 'includes/_toc';

/* and more... 🖋 */

section#colophon {
  position: relative;
  float-reference: page;
  float: bottom;
  margin-bottom: 0;
}
