# PR を作成したら、PDF を作成して、その PDF を PR に添付する。
# 作成される PDF は電子版向けです。

name: Build and Attach PDF on Pull-Request

on:
  pull_request:
    types: [opened, synchronize, reopened]
  pull_request_target:
    types: [labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  build-and-attach-pdf-on-pr:
    runs-on: ubuntu-latest
    if: ( github.event.pull_request.head.repo.fork == false ) ||
        ( contains(github.event.pull_request.labels.*.name, 'Run CI') )

    # 環境変数を定義
    env:
      # 生成される PDF のパス
      PDF_PATH: ./book/output/ebook.pdf

    steps:
      # リポジトリをチェックアウト
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # Node.js をセットアップ
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.node-version'

      # PDF を作成する
      - name: make PDF
        run: |
          corepack enable
          yarn install --immutable
          yarn build

      # PDF が生成されたかどうかをチェックする
      - name: Check if PDF exists
        run: |
          if [ ! -f "${PDF_PATH}" ]; then
            echo "エラー: PDF の生成に失敗しました。"
            exit 1
          fi

      # アーティファクトとして PDF をアップロードする
      - name: Upload PDF as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        id: artifact-upload-step
        with:
          name: "ebook-pdf"
          path: "${{ env.PDF_PATH }}"
          if-no-files-found: error

      # PR に PDF のアーティファクトリンクを含むコメントを投稿する
      - name: Create PR Comment
        uses: peter-evans/create-or-update-comment@e8674b075228eee787fea43ef493e45ece1004c9 # v5.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            :page_facing_up: PDF が作成されました
            [ダウンロード](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/${{ steps.artifact-upload-step.outputs.artifact-id }})
